<h1>Welcome to Crypto Currency App</h1>

    <br/><br/>
   <table class="table table-hover table-striped table-bordered info">
     <thead>  
      <tr>
         <th>Rank</th>
         <th>Currency Type</th>
      </tr>
    </thead>
         
 
    <table class="table table-hover table-striped table-bordered info">
        <tbody> 
        
                <% @coins %>
                <% for x in @coins %>
                <% for coin in @my_coins %>
                    <% if coin == x["symbol"] %>
                    <tr>
                        <td>Rank: <%= x["rank"] %></td>
                         <td><%= x["name"] %>: $<%= x["price_usd"] %></td>
                    <% end %>
                    </tr>
             
            <% end %>
        <% end %>
        </tr>    
     </tbody>
 </table>
<br/>
